section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  border: 5px dashed black;
  border-radius: 10px;
  font-weight: bold;
}

img {
  cursor: pointer;
}

.home-section {
  display: flex;
  align-items: center;
}

.home-section img {
  margin: 0 10px;
  height: 18rem;
}
